<img src="screenshot.png" /><br>

<p>"Chillin in Space" was created as an excercise for James George's <a href="http://jamesgeorge.org/3dworlds/">Pixels to Polygons</a> class at ITP.  There is no object to our game, aside from just chillin in space.</p>

<p>For the purposes of the exercise, we've mapped the controls to a custom controller: an accelerometer (in combination with an <a href="http://arduino.cc/">Arduino</a>), which sends data to the game via OSC.</p>

<p>Navigation is achieved by holding the controller and simply waving your hand in the direction you wish to look -- and by pressing the thrust button to thrust & the break button to break; a thrust trim-dial allows for calibration of the desired thrust amount (from very chill to speed-freak).</p>

<p>The source code is available on <a href="http://github.com/stevenklise/SpacePlace">Github</a>.</p>