<!DOCTYPE html>
<html>
<head>
  <title>Chillin' In Space</title>
  <script src="/js/jquery.1.7.1.js"></script>
  <script src="/js/underscore.1.2.2.js"></script>
  <link rel="stylesheet" href="/css/silkscreen/stylesheet.css"></link>
  <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
  <div id="wrapper">
    <div id="logo"><a href="/"><img src="http://chillininspace.us.s3.amazonaws.com/chillinlogo.png"></a></div>
    <div>
      <%= yield %>    
    </div>
  </div>
</body>
</html>